# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
dist/

# Variables de entorno
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos que no se subirán al repositorio
Documento tecnico - copia superadmin.docx
Plantillas/